version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always

    environment:
      POSTGRES_USER: user1
      POSTGRES_PASSWORD: 12345 # TODO: Change this method
      POSTGRES_DB: database1

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user1 -d database1"]
      interval: 4s
      timeout: 4s
      retries: 4

volumes:
  postgres_data: